
<%= form_for :listings do |f| %>
  <div class="mb-3">
    Title:
    <%= f.text_field :title %><br/>
  </div>
  <div class="mb-3">
     Location:
    <%= f.text_field :location %><br/>
  </div>
  <div class="mb-3">
    Description:
    <%= f.text_field :description %><br/>
  </div>
  <%= f.submit %>
<% end %>
