<div class="card">
  <%= @listings.each do |listing| %>
    <div class="card-body">
      <h5 class="card-title"><%= listing.id %></h5>
      <h5 class="card-title"><%= listing.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= listing.location %></h6>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text"><%= listing.created_at %></p>
    </div>
  <% end %>
</div>
